/* index css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.input_type_속성_예제{
    border: 3px solid gray;
    margin:5px;
    padding:5px;

    h2{
        text-align: center;
    }

}

#CB1 {

    display: block;
    color: aqua;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.biso {

    width: auto;
    height: auto;
    object-fit: contain;
}

caption, td, th, table {
    border: solid 0.5px;
    margin: 5px;
}

.test::before{
    content:" sdasji";
    color: red;

}

.image_test{

    width: 50vw;
    height: 50vw;
    background-image: url(./src/picture/HAERIN_CAT.PNG);
    background-attachment:scroll;
    background-size: cover;
    background-repeat: round;
    border: solid gray 5px;
    margin-top: 10px;
    overflow: scroll;
}

.box{
    width: 100px;
    height: 100px;
}
.red-box-relative{
    background-color: red;
}
.blue-box-relative{
    background-color: blue;
}
.green-box-relative{
    background-color: green;
    position: relative;
    left:100px;
}

.red-box-absolute{
    background-color: red;
}
.blue-box-absolute{
    background-color: blue;
}
.green-box-absolute{
    background-color: green;
    position: absolute;
    left:100px;
}

.red-box-fixed{
    background-color: red;
}
.blue-box-fixed{
    background-color: blue;
}
.green-box-fixed{
    background-color: green;
    position: fixed;
    left:100px;
    top:100px;
}

.red-box-sticky{
    background-color: red;
}
.blue-box-sticky{
    background-color: blue;
}
/*.green-box-sticky{
    background-color: green;
    position: sticky;
    top:0px;
}*/

.float-test{
    float:left;
    margin-right: 1rem;
    z-index: 100;
    width: 36px;
    height: 44px;
}

.container{
    width: 400px;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #ccc;
}
.container::after{
    content:"";
    display: block;
    clear: left;
}

.red-box-float2{
    background-color: red;
}

.blue-box-float2{
    background-color: blue;
}

.white-box{
    height: 110px;
    background-color: rgb(225, 103, 255);
    display: block;
}
.red-box-float{
    color:white;
    background-color: red;
    float:left;
    text-align: center;
}
.blue-box-float{
    color:white;
    background-color: blue;
    float:left;
    text-align: center;
}
.red-box-clear{
    background-color: red;
    float:left;
}

.blue-box-clear{
    background-color: blue;
    clear: left;
}
.green-box-clear{
    background-color: green;
    float:left
}

.red-box-hover{
    background-color: blue;
    transition-property: all;

}
.red-box-hover:hover{
    background-color: blueviolet;
    transition-duration: 1s;
    transition-delay: 1s;

}

.container-transition .bar{
    background-color: red;
    color:white;
    width:100px;
    transition-property: width;
    transition-duration: 5s;
    font-display: swap;
}
.container-transition:hover .bar{
    width:200px;
}
.bar:nth-child(1){
    transition-timing-function: linear;
}
.bar:nth-child(2){
    transition-timing-function: ease;
}
.bar:nth-child(3){
    transition-timing-function: ease-in;
}
.bar:nth-child(4){
    transition-timing-function: ease-out;
}
.bar:nth-child(5){
    transition-timing-function: ease-in-out;
}

.animation-box{
    background-color: red;
    animation: bgchange 5s infinite;
}

@keyframes bgchange{
    0%{background-color: red;}
    25%{background-color: orange;}
    50%{background-color: yellow;}
    75%{background-color: green;}
    100%{background-color: greenyellow;}
}

.translate-box{
    background-color: red;
    z-index: 10;
    width:400px;
}
.translate-box:hover{
    transform:rotate(90deg);
}
.selfcheck-postit{
    width: 350px;
    height: 350px;
    background-color: #ffff99;
    padding: 18px;
    text-align: center;
    position:relative;
    transform:rotate(10deg);
    font-family:"Nanum Pen Script", cursive;
    margin:100px;

    p{
        font-size: 25px;
        margin-bottom: 20px;
    }

    h2{
        font-size: 44px;
        margin-bottom: 20px;
        font-weight:normal;
        margin-top: 20px ;
        
    }
}

.selfcheck-login{
    border: solid 1px #000;
    width: 302px;
    height: 390px;
    text-align: center;
    font-family:  "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 100px;
}
.selfcheck-login a:visited{
    color:#504444;
    text-decoration: none;
}
.link-ID{
    width: 228px;
    height: 44px;
    margin-top: 28px;
    background-color: white;
    color:#504444;
    text-decoration: none;
    border:solid black 0.1px;
    font-weight: bold;
}
.selfcheck-login input{
    width: 228px;
    height: 44px;
    background-color: #eaeaea;
    margin-bottom: 15px;
    border: none;
    
}
.bulog{
    width: 228px;
    height: 44px;
    background-color: #373f3c;
    color:white;
    border:none;
    margin-bottom: 20px;
}

#login{
    width:304px;
    height:390px;
    padding:28px 38px;
    border:1px solid #000;
    margin:100px auto;
    text-align: center;
  }
  
  #login fieldset{
    border:none;
  }
  
  #login fieldset legend{
    position:absolute;
    top:-99999px;;
  }
  
  #login button{
    width:228px;
    height:44px;
    border:1px solid #000;
    background-color:white;
    font-weight:bold;
  }
  
  #login input{
    width:228px;
    height:44px;
    border:1px solid #000;
    padding:0 10px;
    margin-bottom:21px;
    background-color:#eaeaea;
  }
  
  #login > fieldset + p {
    margin:24px 0;
    font-size:16px;
    font-weight:bold;
    text-align:center;
  }
  
  #login button[type="submit"]{
    background-color:#373f3c ;
    color:white;
    margin-bottom:27px;
    font-weight:normal;
  }
  
  #login a{
    text-decoration:none;
    color:#2c3432;
    font-size:14px;
    text-align:center;
    display:block;
  }

