<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ summoner.name }} - 검색 결과</title>
    <style>
        body { font-family: sans-serif; text-align: center; }
        .profile { margin-top: 30px; }
        .profile-icon { border-radius: 50%; border: 3px solid #ccc; }
        .level { background-color: #eee; padding: 5px 10px; border-radius: 10px; }
    </style>
</head>
<body>
    <a href="/">&larr; 다시 검색하기</a>
    <div class="profile">
        <img class="profile-icon" src="http://ddragon.leagueoflegends.com/cdn/{{ version }}/img/profileicon/{{ summoner.profileIconId }}.png" 
             alt="프로필 아이콘" 
             width="120" 
             height="120">
        
        <h1>{{ summoner.name }}</h1>
        <h2>레벨: <span class="level">{{ summoner.summonerLevel }}</span></h2>
    </div>
</body>
</html>